<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello UI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
      .nav-link{
        color: gray;
      }
      .nav-link:hover{
        color:black;
      }
      .nav-link:focus{
        outline: thin dotted;
        color: initial;
      }
      .active{
        color: black;
      }
    </style>
  </head>
  <body>
<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <img src="{% static 'pc-icon.png' %}" alt="Logo"/>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'helloui:homepage' %}" class="nav-link px-2 active" style="color: orange">Home</a></li>
        </ul>

        <div class="text-end">
          {% if request.user.is_authenticated %}
          Hello {{ request.user }} !
          <a href="javascript:{document.getElementById('logout').submit()}"><button type="button" class="btn btn-outline-light me-2">Logout</button></a>
          <form id="logout" method="POST" action="{% url 'account:logout' %}">
          {% csrf_token %}
            <input type="hidden">
          </form>
          {% else %}
          <a href="{% url 'account:login' %}"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
          <a href="{% url 'account:signup' %}"><button type="button" class="btn btn-warning">Sign-up</button></a>
          {% endif %}

        </div>
      </div>
    </div>
  </header>
<div class="container">
{% block content %}
{% endblock %}
</div>
<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">{% now "Y" %} Adrian Parafiński Example AP</p>
  </footer>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>

