<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello on homepage</h1>

{% if errors %}
    <br/> Coś poszło nie tak: <br/>
    {% for error in errors %}
    <p style="color:red">{{error}}</p>
    {% endfor%}
{% endif %}
<br/><br/><br/>
{% if request.method == 'POST' %}
    Znane mi imiona: <br/>
    {% for name in names %}
        {{name}} <br/>
    {% endfor %}
{% endif %}
<br/>

<h4>Sprawdz czy imie zawiera sie w zbiorze</h4>
<form id="checker-form" method="POST">
    {% csrf_token %}
    <p><input type="text" id="check-text" name="check_name"></p>
    <p><input type="submit" value="Sprawdź imię"></p>
</form>
<br/>
{{form_content}}
<br/>

<h4>Dodaj imie do zbioru </h4>
<form id="addNameToList" method="POST">
    {% csrf_token %}
    <p><input type="text" id="add-name-text" name="add_name"></p>
    <p><input type="submit" value="Dodaj imię"></p>
</form>

{{add_content}}

</body>
</html>