{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>

{% if errors %}
      {% for error in errors %}
      <p style="color:red">{{error}}</p>
      {% endfor%}
{% endif %}

<form method="POST"  action="{% url 'account:login' %}">
      {% csrf_token %}
      Username or Email: <br/>
<input type="text" class="form-control w-25" name="username_or_email" placeholder="Your username or email"/><br/>
      Password: <br/>
<input type="password" class="form-control w-25" name="password" placeholder="Your password"/><br/>

<input type="submit" class="btn btn-primary" value="Login"/><br/>
</form>
{% endblock %}