{% extends 'base.html' %}

{% block content %}
 <h2>Signup</h2>

{% if errors %}
      {% for error in errors %}
      <p style="color:red">{{error}}</p>
      {% endfor%}
{% endif %}

{% if success_message %}
<p style="color:green">{{success_message}}</p>
{% endif %}


<form method="POST"  action="{% url 'account:signup' %}">
      {% csrf_token %}
      Username: <br/>
<input type="text" class="form-control w-25" name="username" placeholder="Your nick"/><br/>
      Email: <br/>
<input type="text" class="form-control w-25" name="email" placeholder="Your email"/><br/>
      Password: <br/>
<input type="password" class="form-control w-25" name="password" placeholder="Your password"/><br/>
      Confirm: <br/>
<input type="password" class="form-control w-25" name="confirm_password" placeholder="Retype your password"/><br/>

<input type="submit" class="btn btn-primary" value="Sign up"/><br/>
</form>
{% endblock %}